!!!
%html
  %head
    %title ことばを見つける | ことばの探索機
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header.site-header
      .site-header-inner
        %h1.site-title.header-title
          ことばの探索機

    .site-container
      = yield

    %footer.site-footer
      .copyright
        Maintained by #{link_to 'odaillyjp', 'https://github.com/odaillyjp', target: '_blank'}. &copy; 2014 All rights reserved.
